*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: 
    linear-gradient(to right ,#01022d,#000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: 
    linear-gradient(to right , #01022d , #00000046),
    url(avatar.jpg);
    width: 90%;
    height: 580px;
}
.container:hover{
    background-image: 
    linear-gradient(to right , #01022d , transparent),
    url(avatar.jpg);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo{
    font-size: 30px;
    text-transform: uppercase;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.container ul a:hover{
    border-bottom: 2px solid rgb(65, 124, 124);
    color: aqua;
}

.contant{
    margin-top: 70px;
    padding-left: 30px;
    color: white;
    justify-content: center;
    align-content: center;
}
.contant h2{
    text-transform: uppercase;
    font-size: 100px;
}

.contant .pindex{
    padding: 10px 15px;
    width: 30%;
}
.contant a{
    background-color:#303164 ;
    margin: 0px 10px;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
}
.contant a:hover{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

/* -------- about section -------- */

.contantAbute h3{
    font-size: 70px;
    margin-top: 5%;
}

.contantAbute{
    position: relative;
    color: white;
    padding: 20px;
    letter-spacing: 2px;
}

.PAbute{
    margin-top: 20px;
    width: 50%;
}

/* الصورة بعد التعديل فقط */
.contantAbute img {
    position: absolute;
    right: 40px;
    top: 90px;
    width: 500px;
    border-radius: 30px;
    border: 2px solid white;
}
.contantAbute img:hover{
    box-shadow: 0 0 20px #e8a9a9ef;
    transform: scale(1.05);
    cursor: pointer;
}

/* login */
.box{
    width: 25%;
    padding: 10px;
    margin-left: 30%;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0.012);
    font-size: 35px;
    background-color: #f0f0f012;
    text-align: center;
    

}
.login{
    width: 350px;
    height: 550px;
    padding: 0px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}
.login img{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 50px;
    left: 75px;
    top: 20px;

}
.login h1 {
    margin: 0px;
    padding: 20px 20px;
    color: #fff;
    text-align: center;

}
 .login label{
    color: #fff;
    font-weight: bold;
 }
 .login input{
    width: 100%;
    margin: 10bx 0px;

 }
 .login input[type = "text"],
 .login input[type = "password"]{
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;

 }
 .login input[type="submit"]{
    margin-top: 15px;
    border: none;
    outline: none;
    color: #fff;
    height: 40px;
    font-size: 16px;
    background: #303164;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: .5s ease; 
 }
 .login input[type="submit"]:hover{
    border: 2px solid #fff;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    transform: scale(1.1);
}
.login a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

 
